<div class="container">
  <h1>FAQ</h1>
  <h3>(Frequently asked questions)</h3>
  <div class="grid-container">
    <h1 class="question">-Q</h1>
    <p>Do you treat your clients well?</p>
    <h1 class="answer">-A</h1>
    <p>Absolutely</p>
    <div class="separation"></div>

    <h1 class="question">-Q</h1>
    <p>How good are your items?</p>
    <h1 class="answer">-A</h1>
    <p>They are awesome!</p>
    <div class="separation"></div>

    <h1 class="question">-Q</h1>
    <p>What time is it?</p>
    <h1 class="answer">-A</h1>
    <p>6 PM. Why would you ask that?</p>


</div>
