* {
  margin: 0px;
  padding: 0px;
}
.container {
  text-align: center;
  padding: 5px;
  p {
    color: #0405cb;
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
  }
  h1 {
    color: #040559;
    font-weight: 900;
    font-family: 'Noto Sans HK', sans-serif;
  }
}
