<div class="container">
  <form [formGroup]="form"
        action="http://localhost:4200/api/admin/login">
    <div class="grid-container">
      <label for="name">Item name</label>
      <input class="control"
             type="text" formControlName="name" id="name"/>
      <div id="output">
        <input type="text" id="input_text" placeholder="Image Digest"/>
        <span id="clipboard-image" (click)="copyDigest()"></span>
      </div>
      <label for="description">Item description</label>
      <textarea class="control" formControlName="description" id="description"></textarea>
      <label for="price">Price</label>
      <input type="text" class="control" formControlName="price" id="price"/>
      <input type="submit" id="submit" />
    </div>
  </form>
</div>
