<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="error-message"
           [ngClass]="invalidName ? 'show' : (wasInvalid ? 'hide' : 'static-position')">
        <p>This item name is already taken!</p>
      </div>
    <div class="grid-container">
      <label for="name">Item name:</label>
      <input class="control"
             type="text" formControlName="name" id="name"/>
      <div id="output">
        <input type="text" id="input_text" placeholder="Image Digest"/>
        <span id="clipboard-image" (click)="copyDigest()"></span>
      </div>
      <div class="description-container">
        <label for="description">Item description:</label>
        <p class="charsLeft">{{charsLeft + ' left'}}</p>
      </div>
      <textarea class="control" (input)="onInput($event.target.value.length)" formControlName="description" id="description"></textarea>
      <label for="price">Price:</label>
      <input type="text" class="control" formControlName="price" id="price"/>
      <input type="submit" id="submit" [disabled]="form.invalid"/>
    </div>
  </form>
</div>
