<div class="container">
  <div class="container">
    <form [formGroup]="form"
          action="http://localhost:4200/api/admin/login">
      <div class="grid-container">
        <label for="name">Your email</label>
        <input class="control"
               type="text" formControlName="name" id="name"/>
        <div id="output">
          <input type="text" id="input_text" placeholder="Digest for the image will be here"/>
          <span id="clipboard-image"></span>
        </div>
        <label for="description">Your password</label>
        <textarea formControlName="description" id="description"></textarea>
        <label for="price">Price</label>
        <input type="text" formControlName="price" id="price"/>
        <input type="submit" id="submit"/>
      </div>
    </form>
  </div>
</div>
