* {
  padding: 0px;
  margin: 0px;
}
//error-message box hide/show
@keyframes error-message-show {
  from {
    transform: translateX(-170%),
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes error-message-hide {
  from {
    transform: translateX(0);
  }
  98% {
    transform: translateX(150%);
    visibility: hidden;
  }
  to {
    transform: none;
    visibility: hidden;
  }
}
//button enable-disable
@keyframes button-disabled {
  to {
    border: 2px solid #ff2902;
    box-shadow: 1px 1px 10px 1px rgba(255,41,2,0.71);
  }
}
@keyframes button-valid {
  from {
    background: rgba(169,25,34,0.53);
    border: 2px solid #ff2902;
  }
  40% {
    background: rgba(0,236,0,0.15);
  }
  to {
    border: 2px solid green;
    box-shadow: 1px 1px 10px 1px rgba(0,211,1,0.33);
  }
}


//main styling of the container

.container {
  background: rgba(184,214,255,0.15);
  height: 600px;
  text-align: left;
  // error message box
  .error-message {
    border: 2px solid #ff2902;
    box-shadow: 1px 1px 10px 2px rgba(255,41,2,0.71);
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.3em;
    color: #045880;
  }
  .error-message.show {
    animation: error-message-show 500ms ease-in 1 both normal;
  }
  .error-message.hide {
    animation: error-message-hide 500ms ease-in 1 both normal;
  }
  .error-message.static-position {
    display: none;
  }
  .grid-container {
    text-align: left;
    align-items: center;
    column-gap: 8px;
    position: absolute;
    top: 40%;
    left: 50%;
    background: rgba(57,108,255,0.25);
    padding: 20px;
    transform: translateY(-50%) translateX(-50%);
    border: 2px solid #0b1cff;
    border-radius: 10px;
    width: 85%;
    display: grid;
    grid: 1fr 1fr 3fr 1fr 1fr / 37% 63%;
    row-gap: 15px;
    //add chars left container
    .description-container {
      position: relative;
      .charsLeft {
        padding: 10px;
        text-align: center;
        font-family: 'Noto Sans HK', sans-serif;
        font-weight: 900;
        color: #0f3662;
        text-shadow: 1px 1px 10px rgba(5,0,89,0.2);
      }
    }
    //remove nasty outline
    input {
      outline: none;
    }
    //output
    #output {
      position: relative;
      grid-column: span 2;
      width: 95%;
      margin: 0px auto;
    }
    #input_text {
      border-radius: 2px;
      box-sizing: border-box;
      padding: 3px;
      font-family: 'Montserrat', sans-serif;
      color: rgba(17,0,131,0.81);
      font-weight: 900;
      font-size: 0.9em;
      width: 100%;
    }
    #clipboard-image {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 6px;
      width: 17px;
      height: 17px;
      background: url("../../../assets/copy.png") 0px 0px / 17px 17px no-repeat;
    }
    //description area
    textarea {
      box-sizing: border-box;
      padding: 4px;
      color: #22227d;
      outline: none;
      font-weight: 600;
      border: 1px solid black;
      resize: none;
      align-self: stretch;
      text-align: justify;
    }

    label {
      font-size: 0.9em;
      font-family: 'Noto Sans HK', sans-serif;
      font-weight: 900;
      color: #040559;
      text-shadow: 1px 1px 10px rgba(5,0,89,0.2);
    }
    // controls styling

    .control {
      outline: none;
      border-radius: 3px;
      border: 1px solid gray;
      font-family: 'Roboto', sans-serif;
      color: #22227d;
      font-weight: 600;
      font-size: 1em;
    }

    //control-invalid

    .control.ng-invalid.ng-touched {
      border: 1px solid red;
      box-shadow: 1px 1px 5px 1px red;
    }

    //control-valid

    .control.ng-valid.ng-touched {
      border: 2px solid green;
      box-shadow: 1px 1px 5px 1px green;
    }


    //keyframes for button animation

    input#submit {
      outline: none;
      animation: button-valid 200ms ease-in 0ms 1 normal forwards;
      background: rgba(0,236,0,0.15);
      color: #f6fcff;
      margin-top: 10px;
      font-size: 1.2em;
      font-weight: 900;
      border-radius: 10px;
      box-shadow: none;
      border: 2px solid green;
      padding: 1px 3px;
      justify-self: stretch;
      grid-column: span 2;
    }
    #submit:disabled {
      animation: button-disabled 200ms cubic-bezier(0.2, 0.5, 0.6, 0.8) 0s 1 normal forwards;
      background: rgba(169,25,34,0.53);
      color: #470005;
    }
    #submit:hover {
      background: rgba(43,137,137,0.5);
    }
    #submit:active {
      background: rgba(43,137,137,0.8)
    }
  }
}

