* {
  margin: 0px;
  padding: 0px;
}

.container {
  padding: 7px;
  background: white;
  .image-background {
    display: none;
  }
  h1 {
    margin-top: 30px;
    text-align: center;
    color: #040559;
    font-weight: 900;
    font-family: 'Noto Sans HK', sans-serif;
  }
  p.desc {
    text-align: center;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    color: #296a93;
    font-weight: 600;
    margin: 5px;
    border-bottom: 1px solid rgba(74,181,255,0.51);
    padding-bottom: 10px;
  }
}
.flex-container {
  padding: 5px;
  display: grid;
  grid: repeat(3, 1fr)/repeat(6, 1fr);
  grid-row-gap: 10px;
  img {
    width: 50px;
  }
  p {
    font-size: 1.25em;
    font-family: 'Noto Sans HK', sans-serif;
    color: #275980;
    font-weight: 900;
    align-self: center;
  }
  //Define grid rows
  .first {
    grid-row: 1 / 2;
  }
  .second {
    grid-row: 2 / 3;
  }
  .third {
    grid-row: 3 / 4;
  }
  //Define grid columns
  img.first {
    grid-column: 1 / 2;
  }
  p.first {
    grid-column: 2 / 7;
    justify-self: flex-end;
  }
  img.second {
    grid-column: 6 / 7;
  }
  p.second {
    grid-column: 1 / 6;
    justify-self: flex-start;
  }
  img.third {
    grid-column: 1 / 2;
  }
  p.third {
    grid-column: 2 / 7;
    justify-self: flex-end;
  }
}
@media(min-width: 350px) {
  .flex-container {
    margin: 0px auto;
    width: 80%;
  }
}
@media(min-width: 450px) {
  .flex-container{
    width: 77%;
    img {
      width: 80px;
    }
  }
}
@media(min-width: 520px) {
  .container {
    margin: 10px auto;
  }
}
@media(min-width: 680px) {
  .container {
    width: 70%;
    font-size: 20px;
  }
  .flex-container {
    width: 90%;
  }
}

@media(min-width: 880px) {
}

@media(min-width: 1140px) {
  .container {
    width: 40%;
    font-size: 22px;
    position: relative;
    .image-background {
      z-index: -3;
      opacity: 0.4;
      background: url("../../assets/candies-photo.jpg") 50% 0% / cover;
      display: block;
      position: absolute;
      width: 99vw;
      height: 100%;
      top: 0px;
      transform: translateX(-30vw);
    }
  }
  .flex-container {
    row-gap: 30px;
  }
}
@media(min-width: 1280px) {
  .flex-container {
    img {
      width: 100px;
    }
  }
}
@media(min-width: 1500px) {
  .container {
    width: 35%;
    font-size: 23px;
    .image-background {
      transform: translateX(-32.5%);
    }
  }
}
