<div class="container">
  <p class="desc">
    Quisque id viverra odio. Fusce lobortis felis
    in nisi malesuada fermentum. Vivamus eu elit eget ex
    molestie luctus. Pellentesque non justo metus. Sed vitae semper nisi.
    Nulla tincidunt vitae velit vel volutpat. Vivamus orci orci, rhoncus at
    maximus ac, dignissim vitae libero. Aliquam erat volutpat.
    Donec tincidunt pulvinar tortor in ullamcorper.
  </p>
  <div class="flex-container">
    <img class="first" src="../../assets/24-hours.png"/>
    <img class="second" src="../../assets/delivery.png"/>
    <img class="third" src="../../assets/truck.png"/>

    <p class="first">
      Fast order assembly
    </p>

    <p class="second">
      Delivery right to your door
    </p>

    <p class="third">
      Fast Delivery
    </p>
  </div>

</div>
