* {
  padding: 0px;
  margin: 0px;
}
.flex-container {
  background-color: #d8e3ff;
  display: flex;
  height: 40px;
  align-items: center;
  a.flex-item {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    flex: 1 1;
    text-align: center;
    color: #045880;
  }
  a.flex-item:hover {
    background-color: #caf7ff;
  }
  a.flex-item:active {
    text-decoration: underline;
    color: #9a0002;
  }
}
.top-flex {
  padding-bottom: 2px;
  width: 60%;
  border-bottom: 3px solid #7eaeff;
  a:first-child {
    border-right: 3px solid rgba(80,170,171,0.79);
  }
}
.bottom-flex {
  margin: 0px auto;
  padding-top: 2px;
  width: 100%;
  border-top: 3px solid #7eaeff;
  a:nth-child(1), a:nth-child(2){
    border-right: 3px solid rgba(80,170,171,0.79);
  }
}

@media(min-width: 470px) {
  .top-flex {
    width: 50%;
  }
  .bottom-flex {
    width: 80%;
  }
}
@media(min-width: 680px) {
  .top-flex {
    width: 40%;
  }
  .bottom-flex {
    width: 60%;
  }
}
@media(min-width: 800px) {
  .top-flex {
    width: 35%;
  }
  .bottom-flex {
    width: 55%;
  }
}
@media(min-width: 1200px) {
  .top-flex {
    width: 30%;
  }
  .bottom-flex {
    width: 50%;
  }
}
@media(min-width: 1500px) {
  .top-flex {
    width: 20%;
  }
  .bottom-flex {
    width: 40%;
  }
}
