* {
  padding: 0px;
  margin: 0px;
}
.cart {
  text-align: center;
  box-sizing: border-box;
  display: block;
  padding: 3px 4px;
  background: rgba(216,227,255,0.94);
  width: 39%;
  position: absolute;
  height: 45px;
  right: 0%;
  top:8px;
  border: 3px solid #7eaeff;
  border-radius: 3px 0px 0px 5px;
  border-right: none;
  span, a {
    font-family: cursive;
  }
  span {
    color: rgba(40,18,158,0.74);
    font-weight: 600;
  }
  a {
    display: block;
    color: rgba(158,44,134,0.74);
    font-weight: bolder;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: rgba(158,44,134,0.94);
    }
  }
}
.flex-container {
  background-color: #d8e3ff;
  display: flex;
  height: 40px;
  align-items: center;
  a.flex-item {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    flex: 1 1;
    text-align: center;
    color: #045880;
  }
  a.flex-item:hover {
    background-color: #caf7ff;
  }
  a.flex-item:active {
    text-decoration: underline;
    color: #9a0002;
  }
}
.top-flex {
  padding-bottom: 2px;
  width: 60%;
  border-bottom: 3px solid #7eaeff;
}
.bottom-flex {
  padding-top: 2px;
  width: 100%;
  border-top: 3px solid #7eaeff;
}

