<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()"
        action="http://localhost:4200/api/admin/login">
    <div class="grid-container">
      <div class='invalid-cred' [style.display]="!emailPasswordInvalid ? 'none': 'block'">
        <p>Invalid email/password combination</p>
      </div>
      <label for="email">Your email</label>
      <input class="control"
             type="email" formControlName="email" id="email"/>
      <label for="password">Your password</label>
      <input class="control" type="password" formControlName="password" id="password"/>
      <input type="submit" id="submit" [disabled]="form.untouched || form.invalid"/>
    </div>
  </form>
</div>
