<div class="container">
  <h1>Store</h1>
  <div class="searchContainer">
    <div class="searchBox">
      <input type="text" maxlength="50" autofocus/>
      <button>Search</button>
    </div>
    <label class="order">
      <select >
        <option class="fOption">Sort by</option>
        <option value="priceAsc">price ascending</option>
        <option value="priceDesc">price descending</option>
        <option value="nameAsc">name ascending</option>
        <option value="nameDesc">name descending</option>
      </select>
    </label>
    <label class="perPage">
      <select>
        <option class="fOption">Per page</option>
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
        <option>30</option>
      </select>
    </label>

  </div>
  <div class="grid-container">
    <single-item *ngFor="let item of items" [itemObject]="item"></single-item>
  </div>
</div>
