<div class="cart">
  <span>{{message}}</span>
  <a routerLine="">Checkout</a>
</div>
<div class="container">
  <h1>Store</h1>
  <div class="searchContainer">
    <div class="searchBox">
      <input type="text" [(ngModel)]="inputValue" maxlength="50" autofocus/>
      <button id="searchBox">Search</button>
    </div>
    <label class="order">
      <select id="sorting" [(ngModel)]="order">
        <option value="init" class="fOption">Sort by</option>
        <option value="priceSEPasc">price ascending</option>
        <option value="priceSEPdesc">price descending</option>
        <option value="nameSEPasc">name ascending</option>
        <option value="nameSEPdesc">name descending</option>
      </select>
    </label>
    <label class="perPage">
      <select id='paging' [(ngModel)]="perPage">
        <option value="init" class="fOption">Per page</option>
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
        <option>30</option>
      </select>
    </label>
  </div>
  <div class="grid-container">
    <single-item (buy)="onBuy($event)" *ngFor="let item of items" [itemObject]="item"></single-item>
  </div>
</div>
<div class="popup-container">
  <div class="popup">
    <img alt="close popup" src="../../assets/close.png"/>
    <p>The item was successfully added to the cart</p>
  </div>
</div>
