* {
  outline: none;
  padding: 0px;
  margin: 0px;
}
@keyframes popup-show {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: none;
  }
}
@keyframes popup-hide {
  from {
    transform: none;
  }
  to {
    transform: translateY(110%);
  }
 }
.cart {
  text-align: center;
  box-sizing: border-box;
  display: block;
  padding: 3px 4px;
  background: rgba(216,227,255,0.94);
  width: 39%;
  position: absolute;
  height: 45px;
  right: 0%;
  top:8px;
  border: 3px solid #7eaeff;
  border-radius: 3px 0px 0px 5px;
  border-right: none;
  font-size: 0.82em;
  span, a {
    font-family: cursive;
  }
  span {
    color: rgba(40,18,158,0.74);
    font-weight: 600;
  }
  a {
    display: block;
    color: rgba(158,44,134,0.74);
    font-weight: bolder;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: rgba(158,44,134,0.94);
    }
  }
}
.container {
  text-align: center;
  display: inline;
  height: auto;
  .searchContainer {
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: auto;
    row-gap: 10px;
    column-gap: 5px;
    width: 95%;
    // select order and per page
    .order select, .perPage select {
      .fOption {
        display: none;
      }
      background-color: rgba(172,231,240,0.4);
      font-size: 0.8em;
      font-weight: 700;
      border: 1px solid #59a3ff;
      padding: 2px;
      color: blue;
      option {
        padding: 1px;
        outline: 3px solid;
        border: 1px solid;
        color: rgba(0,21,240,0.8);
      }
    }
    .searchBox {
      width: 100%;
      align-self: stretch;
      grid-column: span 2;
      input {
        border-radius: 4px;
        margin: 0px;
        font-size: 0.9em;
        outline: none;
        border: 1px solid #001aff;
        border-right: none;
        padding: 3px;
        width: 70%;
        font-family: 'Montserrat', sans-serif;
        color: #000092;
        font-weight: bolder;
      }
      button {
        height: 100%;
        border-radius: 4px;
        background: #b0e4ff;
        border: 1px solid #2115ff;
        font-family: cursive;
        font-weight: bold;
        font-size: 0.9em;
        padding: 3px 4px;
        &:hover {
          transition: 50ms ease-in;
          background-color: #5b778b;
          transform: scale(1.05, 1.05);
        }

      }
    }
  }
  h1 {
    font-family: 'Noto Sans HK', sans-serif;
    margin-top: 0.1em;
    margin-bottom: 0.15em;
    color: #22227d;
    justify-self: start;
    font-weight: 900;
    font-size: 2.3em;
  }
  .grid-container {
    width: 95%;
    margin: 20px auto;
    display: grid;
    column-gap: 5px;
    grid-gap: 15px;
    justify-content: space-between;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    grid-auto-columns: 50%;
  }
}
//popup
.popup-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(85,138,158,0.88);
  text-align: center;
  .popup {
    background-color: rgba(85,138,158,0.6);
    margin: 40vh auto;
    width: 70%;
    padding: 20px;
    font-family: 'Noto Sans HK', sans-serif;
    color: #2dce03;
    font-weight: bold;
    img {
      width: 20px;
      height: 20px;
      position: absolute;
      top: calc(40vh - 30px);
      right: calc(15% - 15px);
      &:hover {
        box-shadow: 1px 1px 20px 2px blue;
      }
    }
  }
  &.show {
    animation: popup-show 200ms ease-in both;
  }
  &.hide {
    animation: popup-hide 200ms ease-in both;
  }
  &.static {
    display: none;
  }
}

@media(min-width: 900px) {
  .searchContainer {
    width: 864px !important;
  }
}
@media(min-width: 790px) {
  .grid-container {
    grid-template-columns: repeat(3, 32%) !important;
  }
  .cart {
    width: 316px;
    font-size: 1.2em;
    height: auto;
  }

}
@media(min-width: 970px) {
  .grid-container {
    grid-template-columns: repeat(4, 24%) !important;
  }
}
@media(min-width: 1150px) {
  .grid-container {
    grid-template-columns: repeat(5, 19%) !important;
  }
}
@media(min-width: 1330px) {
  .grid-container {
    grid-template-columns: repeat(6, 16%) !important;
  }
}
@media(min-width: 1510px) {
  .grid-container {
    grid-template-columns: repeat(7, 14%) !important;
  }
}
@media(min-width: 1560px) {
  .grid-container {
    grid-template-columns: repeat(8, 12%) !important;
  }
}
@media(min-width: 1690px) {
  .grid-container {
    grid-template-columns: repeat(9, 11%) !important;
  }
}

